.post-block-content:hover {
  border-color: #d2b356;
}
.primary-color,
.featured .post {
  background-color: #d2b356;
}
.primary-color,
.primary-color .section-title,
.primary-color .section-subtitle,
.featured .post,
.featured .post p {
  color: #fff;
}
.post-block-content {
  background: #fff;
  padding: 25px 0 25px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  border: 10px solid #fff;
}

.post-block ul {
  list-style: none;
  margin: 25px 0 25px 0;
}

.post-block li {
  padding: 14px 0;
  border-bottom: 1px dotted #e1e1e1;
}

.post-block li:last-of-type {
  border: none;
}

.post-block h3 {
  font-size: 17px;
  text-transform: uppercase;
  padding-bottom: 0;
}
.post-sub {
  font-style: italic;
  color: #ccc;
  margin: 0 0 25px 0;
}
.post {
  background: #f5f5f5;
  padding: 25px;
  position: relative;
}

.post-featured-image {
  display: inline-block;
  font-size: 62px;
  font-weight: 700;
  position: relative;
}

.post-featured-image span {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 22px;
}

.post p {
  font-style: italic;
  color: #b4b4b4;
  line-height: auto;
  margin: 0;
}
