<aside>
  <!--Social Icons in Header-->
  <ul class="social-icons">
    <li>
      <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
        <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
      </a>
    </li>
    <li>
      <a target="_blank" title="Google+" href="http://google.com/+username">
        <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
      </a>
    </li>
    <li>
      <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
        <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
      </a>
    </li>
    <li>
      <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
        <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
      </a>
    </li>
    <li>
      <a target="_blank" title="behance" href="http://www.behance.net">
        <i class="fa fa-behance fa-1x"></i><span>Behance</span>
      </a>
    </li>
  </ul>
  <!--End of Social Icons in Header-->
</aside>