<!--Clients-->
<section id="clients" class="scrollto clearfix">
  <div class="row clearfix">

    <div class="col-3">

      <div class="section-heading">
        <h3>TRUST</h3>
        <h2 class="section-title">Companies who use our services</h2>
        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
      </div>

    </div>

    <div class="col-2-3">

      <a href="#" class="col-3">
        <img src="../assets/images/company-images/company-logo1.png" alt="Company" />
        <div class="client-overlay"><span>Tree</span></div>
      </a>
      <a href="#" class="col-3">
        <img src="../assets/images/company-images/company-logo2.png" alt="Company" />
        <div class="client-overlay"><span>Fingerprint</span></div>
      </a>
      <a href="#" class="col-3">
        <img src="../assets/images/company-images/company-logo3.png" alt="Company" />
        <div class="client-overlay"><span>The Man</span></div>
      </a>
      <a href="#" class="col-3">
        <img src="../assets/images/company-images/company-logo4.png" alt="Company" />
        <div class="client-overlay"><span>Mustache</span></div>
      </a>
      <a href="#" class="col-3">
        <img src="../assets/images/company-images/company-logo5.png" alt="Company" />
        <div class="client-overlay"><span>Goat</span></div>
      </a>
      <a href="#" class="col-3">
        <img src="../assets/images/company-images/company-logo6.png" alt="Company" />
        <div class="client-overlay"><span>Justice</span></div>
      </a>
      <a href="#" class="col-3">
        <img src="../assets/images/company-images/company-logo7.png" alt="Company" />
        <div class="client-overlay"><span>Ball</span></div>
      </a>
      <a href="#" class="col-3">
        <img src="../assets/images/company-images/company-logo8.png" alt="Company" />
        <div class="client-overlay"><span>Cold</span></div>
      </a>

      <a href="#" class="col-3">
        <img src="../assets/images/company-images/company-logo9.png" alt="Company" />
        <div class="client-overlay"><span>Cold</span></div>
      </a>

    </div>

  </div>
</section>
<!--End of Clients-->