<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>SUCCESS</h3>
        <h2 class="section-title">How We Help You To Sell Your Product</h2>
        <p class="section-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam!
        </p>
      </div>
    </div>

    <div class="col-2-3">
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-html5 fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>HTML5 &amp; CSS3</h4>
          <p>
            Has ne tritani atomorum conclusionemque, in dolorum volumus
            cotidieque eum. At vis choro neglegentur iudico
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bolt fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Easy to Use</h4>
          <p>
            Cu vero ipsum vim, doctus facilisi sea in. Eam ex falli honestatis
            repudiandae, sit detracto mediocrem disputationi
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tablet fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Fully Responsive</h4>
          <p>
            Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit
            debet ea sit, an pro nemore vivendum
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-rocket fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Parallax Effect</h4>
          <p>
            Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit
            debet ea sit, an pro nemore vivendum
          </p>
        </div>
      </div>
      <!--End of Icon Block-->
    </div>
  </div>
</section>
<!--End of Introduction-->
