<section
  id="about"
  class="introduction scrollto"
  *ngIf="intro$ | async as intro"
>
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>{{ intro.tagline }}</h3>
        <h2 class="section-title">{{ intro.title }}</h2>
        <p class="section-subtitle">{{ intro.description }}</p>
      </div>
    </div>

    <div class="col-2-3" *ngIf="features">
      <div *ngFor="let feature of features; let i = index">
        <app-feature-block [feature]="feature"></app-feature-block>
      </div>
    </div>
  </div>
</section>
