<div id="header" class="nav-collapse nav-solid">
  <div class="row clearfix">
    <div class="col-1">
      <div id="logo">
        <img src="assets/images/logo.png" id="banner-logo" alt="Landing Page" />

        <img
          src="assets/images/logo-2.png"
          id="navigation-logo"
          alt="Landing Page"
        />
      </div>

      <aside>
        <app-user-profile-icon
          [profileImage]="profileImage"
        ></app-user-profile-icon>
        <app-social></app-social>
      </aside>

      <nav id="nav-main">
        <app-navmenu [menu]="menu" [menuOpen]="true"></app-navmenu>
      </nav>

      <div id="nav-trigger">
        <span
          [class.open]="menuOpen == true"
          (click)="toggleMenu(!menuOpen)"
        ></span>
      </div>
      <nav id="nav-mobile">
        <app-navmenu
          [menu]="menu"
          *ngIf="menuOpen === true"
          (menuStatus)="toggleMenu($event)"
          [menuOpen]="menuOpen"
        ></app-navmenu>
      </nav>
    </div>
  </div>
</div>
