<section id="clients" class="scrollto clearfix">
  <div class="row clearfix pull-right">
    @if (clients$ | async; as clients) {
      <div class="col-3">
        <div class="section-heading">
          <h3>{{ clients.tagline }}</h3>
          <h2 class="section-title">{{ clients.title }}</h2>
          <p class="section-subtitle">{{ clients.description }}</p>
        </div>
      </div>
    }

    <div class="col-2-3">
      @for (company of companies$ | async; track company; let i = $index) {
        <div>
          <app-companies-block [company]="company"></app-companies-block>
        </div>
      }
    </div>
  </div>
</section>
